
<html>
<head>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
</head>
<body>
    <table id="BidNoticeSearchData" style="background-color:#F9EBE1; border-color:#DEBA84; border-style:none; border-width:.5px; width: 54%" BorderWidth="1.5px" CellPadding="1" CellSpacing="1" Class="find">
        <thead style="background-color:#BC6525; font-weight: bold;color:floralwhite; font-size:8pt">
            <tr class="small">

                <th style="font-size:6.7pt">
                    Notice Log#
                </th>
                <th style="font-size:6.7pt">Repository Name</th>
                <th style="font-size:6.7pt">Dll Name</th>
               
            </tr>
        </thead>
<tbody></tbody>
    </table>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {

    });
</script>