@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<AcessGitRepositories.Models.Filename>


<table id="BidNoticeSearchData" style="background-color:#F9EBE1; border-color:#DEBA84; border-style:none; border-width:.5px; width: 54%" BorderWidth="1.5px" CellPadding="1" CellSpacing="1" Class="find">
    <thead style="background-color:#BC6525; font-weight: bold;color:floralwhite; font-size:8pt">
        <tr class="small">

            <th style="font-size:6.7pt">
                File Name
            </th>
            <th style="font-size:6.7pt">Repo Name</th>
      
        </tr>
    </thead>
    <tbody style="border:solid; border-color:#BC6525; font-size:8pt">
        @foreach (var item in Model)
        {
            <tr>
                <td style="border-right:solid; border-color:#BC6525; font-size:8pt; color:#BC6525; border-width:.5px;border-bottom:solid; border-bottom-color:#BC6525;border-bottom-width:.5px">
                    <a href="#">@item.path</a>


                </td>
                <td style="border-right:solid; border-color:#BC6525; font-size:8pt; color:#BC6525; border-width:.5px;border-bottom:solid; border-bottom-color:#BC6525;border-bottom-width:.5px">
                    @item.RepoName

                </td>


            </tr>
        }
    </tbody>
</table>

